<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chenming.androiduidemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Demo.TextView.TextViewDemoIndex">
        </activity>
        <activity android:name=".Demo.TextView.TextViewDemo">
        </activity>
        <activity android:name=".Demo.TextView.CheckedTextViewDemo">
        </activity>
        <activity android:name=".Demo.TextView.EditTextDemo">
        </activity>
        <activity android:name=".Demo.TextView.ButtonDemo">
        </activity>
        <activity android:name=".Demo.TextView.ChronometerDemo">
        </activity>
        <activity android:name=".Demo.TextView.TextClockDemo">
        </activity>
        <activity android:name=".Demo.ImageView.ImageViewDemoIndex"/>
        <activity android:name=".Demo.ImageView.ImageViewDemo"/>
        <activity android:name=".Demo.ImageView.ImageButtonDemo"/>
        <activity android:name=".Demo.ImageView.QuickContactBadgeDemo"/>
        <activity android:name=".Demo.AdapterView.AdapterViewDemoIndex"/>
        <activity android:name=".Demo.AdapterView.ListViewDemo">
        </activity>
        <activity android:name=".Demo.AdapterView.AdapterListViewDemo">
        </activity>
        <activity android:name=".Demo.AdapterView.GridViewDemo">
        </activity>
        <activity android:name=".Demo.AdapterView.ExpandableListViewDemo">
        </activity>
        <activity android:name=".Demo.AdapterView.SpinnerDemo">
        </activity>
        <activity android:name=".Demo.AdapterView.AdapterViewFlipperDemo">
        </activity>
        <activity android:name=".Demo.AdapterView.StackViewDemo">
        </activity>
        <activity android:name=".Demo.ProgressBar.ProgressBarDemoIndex">
        </activity>
        <activity android:name=".Demo.ProgressBar.ProgressBarDemo">
        </activity>
        <activity android:name=".Demo.ProgressBar.SeekBarDemo">
        </activity>
        <activity android:name=".Demo.ProgressBar.RatingBarDemo">
        </activity>
        <activity android:name=".Demo.ViewAnimator.ViewAnimatorDemoIndex">
        </activity>
        <activity android:name=".Demo.ViewAnimator.ViewSwitcherDemo">
        </activity>
        <activity android:name=".Demo.ViewAnimator.ImageSwitcherDemo">
        </activity>
        <activity android:name=".Demo.ViewAnimator.TextSwitcherDemo">
        </activity>
        <activity android:name=".Demo.ViewAnimator.ViewFlipperDemo">
        </activity>
        <activity android:name=".Demo.Others.OtherDemoIndex">
        </activity>
        <activity android:name=".Demo.Others.ToastDemo">
        </activity>
        <activity android:name=".Demo.Others.CalendarViewDemo">
        </activity>
        <activity android:name=".Demo.Others.DatePickerDemo">
        </activity>
        <activity android:name=".Demo.Others.NumberPickerDemo">
        </activity>
        <activity android:name=".Demo.Others.SearchViewDemo">
        </activity>
        <activity android:name=".Demo.Others.ScrollViewDemo">
        </activity>
        <activity android:name=".Demo.Others.TimePickerDemo">
        </activity>
        <activity android:name=".Demo.Others.TabHostDemo">
        </activity>
        <activity android:name=".Demo.Dialog.DialogDemoIndex">
        </activity>
        <activity android:name=".Demo.Dialog.AlertDialogDemo">
        </activity>
        <activity android:name=".Demo.Dialog.PopupWindowDemo">
        </activity>
        <activity android:name=".Demo.Dialog.DateDialogDemo">
        </activity>
        <activity android:name=".Demo.Dialog.ProgressDialogDemo">
        </activity>
        <activity android:name=".Demo.Menu.MenuDemoIndex">
        </activity>
        <activity android:name=".Demo.Menu.MenuDemo">
        </activity>
        <activity android:name=".Demo.Menu.ActivityMenuDemo">
        </activity>
        <activity android:name=".Demo.Menu.ContextMenuDemo">
        </activity>
        <activity android:name=".Demo.Menu.MenuResDemo">
        </activity>
        <activity android:name=".Demo.Menu.PopupMenuDemo">
        </activity>
        <activity android:name=".BaseActivity.DemoIndexActivity">
        </activity>
        <activity android:name=".BaseActivity.DemoActivity">
        </activity>
    </application>

</manifest>