<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chenming.androiduidemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TextView.TextViewDemoIndex">
        </activity>
        <activity android:name=".TextView.TextViewDemo">
        </activity>
        <activity android:name=".TextView.CheckedTextViewDemo">
        </activity>
        <activity android:name=".TextView.EditTextDemo">
        </activity>
        <activity android:name=".TextView.ButtonDemo">
        </activity>
        <activity android:name=".TextView.ChronometerDemo">
        </activity>
        <activity android:name=".TextView.TextClockDemo">
        </activity>
        <activity android:name=".ImageView.ImageViewDemoIndex"/>
        <activity android:name=".ImageView.ImageViewDemo"/>
        <activity android:name=".ImageView.ImageButtonDemo"/>
        <activity android:name=".ImageView.QuickContactBadgeDemo"/>
        <activity android:name=".AdapterView.AdapterViewDemoIndex"/>
        <activity android:name=".AdapterView.ListViewDemo">
        </activity>
        <activity android:name=".AdapterView.AdapterListViewDemo">
        </activity>
        <activity android:name=".AdapterView.GridViewDemo">
        </activity>
        <activity android:name=".AdapterView.ExpandableListViewDemo">
        </activity>
        <activity android:name=".AdapterView.SpinnerDemo">
        </activity>
        <activity android:name=".AdapterView.AdapterViewFlipperDemo">
        </activity>
        <activity android:name=".AdapterView.StackViewDemo">
        </activity>
        <activity android:name=".ProgressBar.ProgressBarDemoIndex">
        </activity>
        <activity android:name=".ProgressBar.ProgressBarDemo">
        </activity>
        <activity android:name=".ProgressBar.SeekBarDemo">
        </activity>
        <activity android:name=".ProgressBar.RatingBarDemo">
        </activity>
        <activity android:name=".ViewAnimator.ViewAnimatorDemoIndex">
        </activity>
        <activity android:name=".ViewAnimator.ViewSwitcherDemo">
        </activity>
        <activity android:name=".ViewAnimator.ImageSwitcherDemo">
        </activity>
        <activity android:name=".ViewAnimator.TextSwitcherDemo">
        </activity>
        <activity android:name=".ViewAnimator.ViewFlipperDemo">
        </activity>
        <activity android:name=".Others.OtherDemoIndex">
        </activity>
        <activity android:name=".Others.ToastDemo">
        </activity>
        <activity android:name=".Others.CalendarViewDemo">
        </activity>
        <activity android:name=".Others.DatePickerDemo">
        </activity>
        <activity android:name=".Others.NumberPickerDemo">
        </activity>
        <activity android:name=".Others.SearchViewDemo">
        </activity>
        <activity android:name=".Others.ScrollViewDemo">
        </activity>
        <activity android:name=".Others.TimePickerDemo">
        </activity>
        <activity android:name=".Others.TabHostDemo">
        </activity>
        <activity android:name=".Dialog.DialogDemoIndex">
        </activity>
        <activity android:name=".Dialog.AlertDialogDemo">
        </activity>
        <activity android:name=".Dialog.PopupWindowDemo">
        </activity>
        <activity android:name=".Dialog.DateDialogDemo">
        </activity>
        <activity android:name=".Dialog.ProgressDialogDemo">
        </activity>
        <activity android:name=".Menu.MenuDemoIndex">
        </activity>
        <activity android:name=".Menu.MenuDemo">
        </activity>
        <activity android:name=".Menu.ActivityMenuDemo">
        </activity>
        <activity android:name=".Menu.ContextMenuDemo">
        </activity>
        <activity android:name=".Menu.MenuResDemo">
        </activity>
        <activity android:name=".Menu.PopupMenuDemo">
        </activity>
    </application>

</manifest>